<section class="section">

    <div class="container">
        
        <!-- Start Carousel -->
        <div id="carousel" class="carousel">
            
            <!-- Slide Content -->
            <div class="item-1">
                <%= image_pack_tag 'orange001(太好呷2)_5(1).png' %>
            </div>
            
            <!-- Slide Content -->
            <div class="item-2">
                <%= image_pack_tag 'orange001(太好呷2)_2(1).png' %>
            </div>

        </div>
    </div>

</section>