<div class="tabs is-centered">
    
    <!-- https://bulma.io/documentation/components/tabs/   -->
    
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>

</div>
