<div class="notification is-primary is-marginless">
  
    <i class="far fa-comments"></i>
    <%= notice %>
    <!-- 親愛的<strong><%= current_user.name if user_signed_in? %></strong>您好！, 歡迎登入！  -->

    <button class="delete"></button>

</div>