<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
      <a class="navbar-item" href="/admin">
        <i class="fas fa-home"></i>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <%= link_to "廠商", admin_vendors_path, class: "navbar-item" %>        
        <%= link_to "產品列表", admin_products_path, class: "navbar-item" %>        
        <a class="navbar-item">Documentation</a>
  
      </div>
  
    </div>
  </nav>