<!-- 
    購物車頁面行為
        1. 產品會依規格為單位分布。
        2. 呈現方式TBD(時序?類型)
        3. 可針對逐條清空，且清空時需將該物品規格數量個別還回倉儲
        4. 整頁清空時，產品數量全數還回倉儲。
-->

<section class="section">

    <!-- Title name + clean button -->
    <h1 class="title">
        
        購物清單

        <% unless current_cart.empty? %>
            <%= link_to cart_path, class: "button is-danger is-size-11", method:"delete", data: {confirm: "確定清空購物內容？"}  do  %>
                    <i class="far fa-trash-alt"></i>
                    <span >清空購物內容</span>        
            <% end %>
        <% end %>
    </h1>

    <% unless current_cart.empty? %>
        
        <!-- Table of item to pay -->
        <%= render 'itemstopay' %>

    <% else %>

        <article class="message">
            <div class= "message-body">目前購物車是空的喔！</div>
        </article>

    <% end %>


    <!-- button list -->
    <div class="field is-align-items-flex-end">

        <%= link_to "繼續選購", root_path, class: "button is-primary is-size-5" %> 

        <% unless current_cart.empty? %>
            
            <%= link_to "填寫寄送地點", checkout_cart_path, class: "button is-warning is-size-5" %> 
        
        <% end %>

        
    </div>

</section>