<h1 class= "title">分類列表</h1>

<!-- User Hint -->
<article class="message">
    <div class="message-body">
        提示：可以拖拉排序商品分類
    </div>
</article>

<table class ="table is-fullwidth has-shadowed">

    <thead>
        <tr>
            <th>分類名稱</th>
            <th></th>
        </tr>
    </thead>


    <tbody class="sortable-items">

        <% @categories.each do |category| %>
        
        <tr class="item" data-item="<%= dom_id(category)%>">
            <td>
                <i class="fas fa-grip-lines"></i> &nbsp;
                <%= link_to category.name, edit_admin_category_path(category) %>
            </td>
            <td><%= link_to "刪除", admin_category_path(category), method: "delete", data:{confirm:"確定要刪除？"}, class: "button is-danger" %></td>            
        </tr>
        
        <% end %>
    </tbody>

</table>


<%= link_to "新增分類", new_admin_category_path, class: "button is-primary" %>