<section class="p-6">
    <h1 class="font-thin text-3xl">Hello, Yu :)</h1>
  </section>
  
  <!--HTML from anywhere-->
  <div data-controller="hello">
    
    <input data-hello-target="name" type="text">
    <button data-action="click->hello#greet" class="button is-primary">Greet</button>
    <span data-hello-target="output"> </span>
  
  </div>
  
  <i class="far fa-thumbs-up"></i>

  <%= image_pack_tag "/app/frontendsource/images/太好呷logo.jpg" %>
  <img src="/app/frontendsource/images/太好呷logo.jpg" alt="找不到咩">